/* ------------ Colors ------------ */
$white-clr: #ffffff;
$lght-gray-clr: #838391;
$grayish-blue-clr: #38384f;
$drk-blue-clr: #070724;
$cyan-clr: #419ebb;
$lght-orange-clr: #eda249;
$purple-clr: #6f2ed6;
$redish-orange-clr: #d14c32;
$red-clr: #d83a34;
$orange-clr: #cd5120;
$lght-cyan-clr: #1ec2a4;
$lght-blue-clr: #2d68f0;

/* nav color */
$Mercury-clr: #def4fc;
$Venus-clr: #f7cc7f;
$Earth-clr: #545bfe;
$Mars-clr: #ff6a45;
$Jupiter-clr: #ecad7a;
$Saturn-clr: #fccb6b;
$Uranus-clr: #65f0d5;
$Neptune-clr: #497efa;
