@use 'layout';
@use 'header';
@use 'main';
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html,
body {
  margin: 0;
  background: v.$drk-blue-clr url('../assets/background-stars.svg');
  background-size: cover;
}
